name: Test
on:
  pull_request:
  push:
    branches:
    - master
    tags:
    - v*
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.14.x
    - name: Cache Go modules
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build
      run: go build ./...
    - name: Test
      run: go test -covermode=atomic -coverprofile=profile.cov -race ./...
    - name: Lint
      uses: golangci/golangci-lint-action@v1
      with:
        version: v1.28
    - name: Upload coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: profile.cov